.bio-wrapper{
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
  padding: 5rem 2rem;
 /*  margin-top: 2rem; */
 
  
}

 


.box_text_biography{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 78%;
  gap: 2rem;
  position: relative;
  text-align: center;
  
}





.box_text_biography p{
  text-transform: center;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
  position: relative;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box_text_biography{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  position: relative;
  text-align: center;
 
}

.box_text_biography span{
  color: #ffa4c4;
  font-size: 1.8rem;
  letter-spacing: .5px;
  text-transform: center;
  font-weight: 600;
  width: 100%;
  position: relative;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.box_text_biography h2{
  display: flex;
  text-align: center;
  justify-content: center;
	font-size: 4rem;

  font-weight: 900;
  line-height: 120%;
  font-family: 'PPFormula';
  src: url('./components/fonts/PPFormula.woff') format('woff'); /* Ajusta la ruta según la ubicación de tu archivo de fuente */
  color: #121212;
  width: 100vh;

}

.box_text_biography p{
  text-transform: center;
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
  position: relative;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.img-container {
 
  position: relative;
  width: 60%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0rem;
  
}

@media screen and (max-width:1440px) {
  .box_text_biography h2{
    font-size:3rem;    
  }
  
  .box_text_biography{
    width: 80%;
  }
  .bio-wrapper{
    padding: 5rem 4rem;
  }

}


@media screen and (max-width:1240px) {

  .bio-wrapper{
 /*    margin-top: 2rem; */
  }

  .box_biography_video{
    flex-wrap: wrap-reverse !important;
  }

  .box_biography{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 4rem;
  }


  

  .text_biography h2{
    font-size: 7vw;
    font-weight: 900;
    line-height: 5;
  }

  .box_text_biography{
    width: 90%;
    gap: 2rem;
  }

  .box_text_biography h2{
    font-size: 5rem;    
  }
}

@media screen and (max-width:1180px) {

  .text_biography h2{
    font-size: 7vw;
    font-weight: 900;
    line-height: 5vw;
  }
  
  .text_biography p{
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
  }
  
  .text_biography span{
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
  }

  .bio-wrapper{
    gap: 2rem;
    padding: 1rem 5rem;
   /*  margin-top: 7rem; */
  }



  .box_biography{
    padding: 2rem 2rem;
  }
  .bio-wrapper{
    margin-top: 0rem;
    padding: 1rem 2rem;
  }
  .text_biography_s2{
   /*  margin-top: 5rem; */
  }

  .box_text_biography p , .box_text_biography span{
    font-size: 1.5rem;
  }

  .box_text_biography h2{

  }
}


@media screen and (max-width:780px) {
  .text_biography h2{
    font-size: 7vw;
    font-weight: 900;
    line-height: 8.4vw;
  }

  .box_biography {
    padding: 2rem 0rem;
}
  .bio-wrapper{
    margin-top: 0rem;
    padding: 1rem 2rem;
  }

  .text_biography_s2{
   /*  margin-top: 5rem; */
  }

  .box_text_biographyp , .box_text_biography span{
    font-size: 1.3rem;
  }

  .box_text_biography h2{

  }

  

  
  .box_text_biography{
   /*  margin-top: 2rem; */
  }
}

@media screen and (max-width:550px) {
  .text_biography p{
    font-size: 1.1rem;
    text-transform: center;
  }

  .text_biography span{
    text-transform: center;
    font-size: 1.1rem;
  }

  .text_biography h2{
    font-size: 1.9rem;
    font-weight: 900;
    line-height: 130%;
  }
  .box_text_biography p , .box_text_biography span{
    font-size: 1.1rem;
  }
  .box_text_biographyh2{
    font-size: 1rem;
    line-height: 130%;
  }

  .box_text_biography{
    width: 100%;
    gap: 2rem;
    text-align: center;
  }
  
.img-container {
 
  position: relative;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0rem;
 
  
}
.img-container1{
  display: none;
}
.img-container2 img{
  display: none;
 
}
}


@media screen and (max-width:370px) {
  .text_biography p{
    font-size: 1.05rem;
    text-transform: center;

  }

  .text_biography span{
    text-transform: center;
    font-size: 1.05rem;

  }
  .box_text_biography p , .box_text_biography span{
    font-size: 1.05rem;
  }
  .box_text_biography h2{
    font-size: 1.8rem;
    line-height: 140%;
    width: 90%;

  }
  .text_biography h2{
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 140%;
  }
}