@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



.contacto-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contacto-container {
  position: relative;
  background-image: url('https://res.cloudinary.com/dvnhn35l4/image/upload/v1708742935/ojos%20de%20cielo/flores%20de%20batch/Pngtree_peach_petals_6816172_oaz1gt.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8; 
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 900px;
   
  text-align: center;
}

.contacto-titulo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    gap: 4rem;
    position: relative;
    margin-top: 3rem;
    font-size: 4vw;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: .3px;
    width: 100%;
    color: #000000;
}

.box_text_biography h2{
    display: flex;
    text-align: center;
    justify-content: center;
      font-size: 5rem;
  color: #000000;
    font-weight: 900;
    line-height: 120%;
    font-family: 'PPFormula';
    src: url('../../fonts/PPFormula.woff') format('woff'); /* Ajusta la ruta según la ubicación de tu archivo de fuente */
    
    width: 100vh;
  
  }

.contacto-container p {
    text-transform: initial;
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    font-weight: 500;
    width: 90%;
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.fin {
  font-size: 1.5rem;
  color: #121212;
  margin-top: 40px;
}

.navegacion-container {
  background-color: #000000;
}

/* Media Queries for Responsive Layout */

/* For devices with a width less than 768px (e.g., smartphones) */
@media only screen and (max-width: 767px) {
  .contacto-titulo {
    font-size: 4rem;
  }

  .contacto-container p {
    font-size: 2rem;
  }
}

/* For devices with a width between 768px and 1023px (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .contacto-titulo {
    font-size: 5rem;
  }

  .contacto-container p {
    font-size: 2.5rem;
  }
}
